<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- fontawesome CND -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- my stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- counterUP -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>

    <title>SmartUP</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <a class="navbar-brand d-flex" href="index.html"><span>S</span>mart<span>UP</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
                <li class="nav-item ">
                    <a class="nav-link active" data-target="#home">Successful Statups<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#ss">Experts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-target="#contacts">Wanna be Investor?</a>
                </li>
            </ul>
            <ul class="navbar-nav">


            </ul>

        </div>
    </nav>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img-wrapper">
                        <img src="img/smartup.jpg" class="d-block w-100" alt="smartup">
                        <div class="grayer">
                        </div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-wrapper">
                        <img src="img/business.jpg" class="d-block w-100" alt="smartup">
                        <div class="grayer">
                        </div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-wrapper">
                        <img src="img/smartup.jpg" class="d-block w-100" alt="smartup">
                        <div class="grayer">
                        </div>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <section class="submit-form">
        <div class="submit_bg">
            <h1>Start your StartUp project with us</h1>
            <p><span>Smart UP</span> is a fully open source, adaptable platform for submitting and running your startups
                online . We
                power engineering ideas, websites and business plans. Just fill in the form below and our expers will
                contact with you soon.</p>
            <button class="from-button" id="button-up"><span>S</span>mart UP</button>
        </div>
        <div class="contact1" id="contact1">
            <div class="container-contact1">
                <form class="contact1-form validate-form">
                    <span class="contact1-form-title">
                        Fill in the form below
                    </span>

                    <div class="wrap-input1 validate-input" data-validate="First name is required">
                        <input class="input1" type="text" name="First_name" placeholder="First name">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="Last Name is required">
                        <input class="input1" type="text" name="Last_name" placeholder="Last name">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="">
                        <input class="input1" type="text" name="contact" placeholder="Contact">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="title is required">
                        <input class="input1" type="text" name="title" placeholder="Title">
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate="Description is required">
                        <textarea class="input1" name="description" placeholder="Description"></textarea>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="input-container">
                        <input type="file" id="real-input">
                        <button class="browse-btn">
                            Browse Files
                        </button>
                        <span class="file-info">Upload a file</span>
                    </div>

                    <div class="container-contact1-form-btn">
                        <button class="contact1-form-btn" id="button-down">
                            Submit Statup
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <div class="blogs">
                    <img src="http://www.wallpapermania.eu/images/lthumbs/2012-10/3654_Bulb-macro-light-HD-wallpaper.jpg"
                        alt="" class="img-fluid">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet, est aliquam, sequi
                        maxime
                        quisquam praesentium consectetur officia temporibus corporis similique aspernatur nemo
                        veritatis
                        in cumque saepe ut consequuntur repellat!</p>
                    <a href="#" class="d-block">Learn more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs">
                    <img src="http://www.wallpapermania.eu/images/lthumbs/2012-10/3654_Bulb-macro-light-HD-wallpaper.jpg"
                        alt="" class="img-fluid">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet, est aliquam, sequi
                        maxime
                        quisquam praesentium consectetur officia temporibus corporis similique aspernatur nemo
                        veritatis
                        in cumque saepe ut consequuntur repellat!</p>
                    <a href="#" class="d-block">Learn more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs">
                    <img src="http://www.wallpapermania.eu/images/lthumbs/2012-10/3654_Bulb-macro-light-HD-wallpaper.jpg"
                        alt="" class="img-fluid">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet, est aliquam, sequi
                        maxime
                        quisquam praesentium consectetur officia temporibus corporis similique aspernatur nemo
                        veritatis
                        in cumque saepe ut consequuntur repellat!</p>
                    <a href="#" class="d-block">Learn more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs">
                    <img src="http://www.wallpapermania.eu/images/lthumbs/2012-10/3654_Bulb-macro-light-HD-wallpaper.jpg"
                        alt="" class="img-fluid">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea amet, est aliquam, sequi
                        maxime
                        quisquam praesentium consectetur officia temporibus corporis similique aspernatur nemo
                        veritatis
                        in cumque saepe ut consequuntur repellat!</p>
                    <a href="#" class="d-block">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <section class="stats">
        <h1>Statistics</h1>
        <div class="number">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h2 class="counter">7</h2>
                        <p>Partners</p>
                    </div>
                </div>
                <div class="col-md-4 middle">
                    <div>
                        <h2 class="counter">147</h2>
                        <p>Applicants</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h2 class="counter">1</h2>
                        <p>Year of Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="partners">
        <h1>Our Partners</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="blank">
                    <img src="img/osg.png" class="img-fluid" alt="">
                    <p>Компания ООО «Online Service Group» работает на рынке с 2013 года. Основной нашей деятельностью
                        является разработка, создание и продвижение проектов любого уровня сложности.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blank">
                    <img src="img/osg.png" class="img-fluid" alt="">
                    <p>Компания ООО «Online Service Group» работает на рынке с 2013 года. Основной нашей деятельностью
                        является разработка, создание и продвижение проектов любого уровня сложности.</p>
                </div>
            </div class="blank">
            <div class="col-md-4">
                <div class="blank">
                    <img src="img/osg.png" class="img-fluid" alt="">
                    <p>Компания ООО «Online Service Group» работает на рынке с 2013 года. Основной нашей деятельностью
                        является разработка, создание и продвижение проектов любого уровня сложности.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2018 Copyright:<a href="#">SmartUP</a></p>
    </footer>





    <script>

        window.onload = function () {
            document.getElementById('button-up').onclick = function (e) {
                $(".contact1").css('height', '840px');
            }
            document.getElementById('button-down').onclick = function (e) {
                e.preventDefault();
                $(".contact1").css('height', '0px');
            }
        }

    </script>

    <script>
        const uploadButton = document.querySelector('.browse-btn');
        const fileInfo = document.querySelector('.file-info');
        const realInput = document.getElementById('real-input');

        uploadButton.addEventListener('click', () => {
            realInput.click();
        });
    </script>
    <script>
        $('.counter').counterUp({
            delay: 100,
            time: 10000
        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>